<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva noticia</h4>
        <form form action="/admin/novedades/agregar" method="post">
            <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo" />
            </div>
            <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"></textarea>
            </div>
            <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color:#FFDE59;">Guardar</button>
        </form>
        <p></p>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}
        </div>
    </div>
</div>